@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400,700&subset=cyrillic-ext')

// ТЕНЬ
=shadow($opacity)
  -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, $opacity)
  -moz-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, $opacity)
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, $opacity)

$light: #FFF6E5
$dark: #3E454C
$lightBlue: #7ECEFD
$darkBlue: #2185C5
$red: #FF7F66
$borderRadius: 2.5px

html, body
  margin: 0

  font-family: 'Roboto', sans-serif

header
  position: fixed
  z-index: 1

  right: 0
  left: 0

  background: rgba(63, 70, 77, 0.5)
  transition: background, box-shadow 125ms

  +shadow(0.125)

  a:link, a:visited
    display: inline-block

    padding: 2.5px 10px

    box-sizing: border-box
    color: white
    line-height: 45px
    text-decoration: none

  a:hover
    color: $lightBlue
    text-decoration: underline

  img
    float: left

  nav
    float: right

  span
    color: white
    font-family: 'Roboto Slab', sans-serif
    font-size: 2em
    line-height: 50px

  div.wrapper
    padding: 25px

header:hover
  background: rgba(63, 70, 77, 0.95)

  +shadow(0.25)

div.wrapper
  margin: auto

  padding: 0 25px

  max-width: 1024px

  box-sizing: border-box

div.first
  padding: 356px 0 256px

  background: url("images/first.jpg") center fixed
  background-size: cover

div.tagline, form.callback

  h1, h2
    color: white
    font-family: 'Roboto Slab', sans-serif

  h1
    display: inline-block

    margin-top: 0

    font-weight: 400
    font-size: 3em

  h2
    font-weight: 400

div.tagline
  float: left

  width: 50%

  h1, h2
    background: rgba(63, 70, 77, 0.5)

  h2
    display: inline

    line-height: 40px

form.callback
  float: right

  padding: 25px

  background: white
  border-radius: $borderRadius
  box-sizing: border-box
  color: $dark

  +shadow(0.5)

  h2
    margin-top: 0

    background: none
    color: $dark

  label
    display: block

    margin-bottom: 5px

  input
    display: block

    margin-bottom: 15px
    padding: 5px

    width: 100%

    border: solid 2px $lightBlue
    border-radius: $borderRadius
    box-sizing: border-box
    color: $dark
    font-family: "Roboto", sans-serif
    font-size: 16px
    outline: none

  input:not([type="submit"]):focus
    border: solid 2px $darkBlue

  // КНОПКА "ОТПРАВИТЬ"
  input[type="submit"]
    margin-bottom: 0
    padding: 15px

    background: $red
    border: 0
    color: white
    cursor: pointer
    transition: background 125ms

  input[type="submit"]:hover
    background: white
    color: $red

div.block:not(:first-of-type)
  position: relative

  padding: 50px 0 75px

  text-align: center

  h2
    margin-top: 0

    font-size: 2em
    font-weight: 400

  p, span
    display: block

    margin: auto

    max-width: 1024px

  span
    margin-top: 20px

    font-style: italic

div.why
  background: $light
  color: $dark

  h3
    font-weight: normal

  div.advantage-line:last-child
    margin-bottom: 0

  div.advantage
    float: left

    margin-bottom: 25px

    width: 30%

    margin-right: 5%

  div.advantage:nth-of-type(3n)
    margin-right: 0

  div.advantage:nth-of-type(n + 3)
    margin-bottom: 0

  div.image
    margin: auto

    height: 150px
    width: 150px

    background: white center no-repeat
    background-size: cover
    border-radius: 50%
    transition: box-shadow 125ms

    +shadow(0.0625)

  div.image:hover
    +shadow(0.125)

div.prices
  background: url("images/second.jpg") center fixed
  background-size: cover
  color: white

  table
    margin: 0 auto 50px

    width: 100%

    color: $dark
    text-align: left

    +shadow(0.25)

  th
    font-size: 1.5em
    font-weight: normal

  td, th
    padding: 20px

    border-bottom: solid thin #ededed

  tr:last-child
    td
      border-bottom: none

  tr
    td:nth-child(odd), th:nth-child(odd)
      background: white
      border-right: solid thin #ededed

    td:nth-child(even), th:nth-child(even)
      background: $light

  table:last-child
    margin-bottom: 0

div.feedback
  background: $darkBlue
  color: white

div.review
  margin-bottom: 64px

div.review:last-of-type
  margin-bottom: 0

div.gallery
  height: 768px

  box-sizing: border-box
  color: white

  a, a:visited
    color: white
    cursor: pointer
    transition: color 125ms

  a:hover
    color: $light
    text-decoration: none

  button
    position: absolute
    z-index: 2

    bottom: 25px

    height: 50px
    width: 50px

    border: none
    border-radius: 50%
    color: white
    font-size: 64px
    line-height: 75px
    opacity: 0.95
    transition: box-shadow 125ms, opacity 125ms

    +shadow(0.125)

  button:hover
    cursor: pointer
    opacity: 1

    +shadow(0.25)

  button:focus
    outline: none

  button.main-slider-previous
    left: 25px

    background: url("images/left.svg") $darkBlue center
    background-size: cover

  button.main-slider-next
    right: 25px

    background: url("images/right.svg") $darkBlue center

  h2
    display: inline-block

    background: rgba(63, 70, 77, 0.5)

  img
    position: absolute
    z-index: -1

    top: 0
    right: 0
    bottom: 0
    left: 0

    height: 768px
    width: 100%

    opacity: 0
    transition: opacity 500ms

    object-fit: cover
    object-position: top

  .showing
    opacity: 1

  div.category
    position: absolute

    margin: auto

    right: 0
    bottom: 25px
    left: 0

    max-width: 100%
    text-align: center

  span.category
    display: inline-block

    margin-top: 0
    padding: 15px

    background: $darkBlue
    border-radius: 31px
    font-size: 1.5em
    font-style: normal
    text-align: center
    transition: box-shadow 125ms

    +shadow(0.125)

    a
      line-height: 32px

  span.category:hover
    +shadow(0.25)


div.contacts
  background: $red
  color: white

  footer
    margin-top: 50px

    width: 100%

    a:link, a:visited
      color: white

    a:hover
      color: $light
      text-decoration: none

    span:first-child
      float: left

      font-style: normal
      text-align: left

    span:nth-child(2)
      float: right

      font-style: normal

  h3
    font-weight: 400

  h3:first-of-type
    margin-top: 0

  p
    font-size: 2em
    font-weight: 300

// КНОПКА "ВВЕРХ"
div.up
  display: none

  position: fixed
  z-index: 3

  right: 50px
  bottom: 50px

  height: 50px
  width: 50px

  background: $dark url("images/up.svg")
  border-radius: 50%
  cursor: pointer
  opacity: 0.5

  +shadow(0.125)

div.up:hover
  opacity: 0.95
  transition: opacity 125ms

div.background
  display: none

  position: fixed
  z-index: 1

  top: 0
  right: 0
  bottom: 0
  left: 0

  background: rgba(0, 0, 0, 0.5)
  cursor: pointer

div.choice
  display: none

  position: fixed
  z-index: 2

  margin: -112.5px auto 0
  padding: 20px

  top: 50%
  right: 0
  left: 0

  width: 215px

  background: white
  border-radius: 2.5px
  box-sizing: border-box
  color: $dark

  +shadow(0.125)

  ul
    margin-bottom: 0

    padding-left: 30px

  li
    color: $dark
    cursor: pointer
    line-height: 25px
    text-decoration: underline

  li:hover
    text-decoration: none

div.clear
  clear: both

@media (max-width: 960px)
  header
    position: absolute

    nav
      display: none

  div.first
    padding: 228px 0 128px

    height: auto

  div.up
    right: 25px
    bottom: 25px

@media (max-width: 768px)
  div.tagline, form.callback
    float: none

    margin: 0 auto

    max-width: 512px
    width: 100%

  form.callback
    margin-top: 32px

  div.why
    div.advantage
      width: 45%

    div.advantage:nth-of-type(3n)
      margin-right: 5%

    div.advantage:nth-of-type(2n)
      margin-right: 0

    div.advantage:nth-of-type(n)
      margin-bottom: 25px

    div.advantage:nth-of-type(n + 5)
      margin-bottom: 0

  div.gallery
    height: 512px

@media (max-width: 512px)
  header span
    font-size: 1.5em

  div.first
    padding: 164px 0 64px

    h1
      font-size: 2.5em

  div.block:not(:first-of-type) h2
    font-size: 1.5em

  div.prices
    th, td
      padding: 10px

    th
      font-size: 1em
      font-weight: normal

    td
      font-size: 1em

    table
      font-size: 0.75em

  div.why
    div.advantage:nth-of-type(n)
      margin-right: 0
      margin-bottom: 25px

      width: 100%

    div.advantage:nth-last-of-type(2)
      margin-bottom: 0