@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400,700&subset=cyrillic-ext");
html, body {
  margin: 0;
  font-family: "Roboto", sans-serif; }

header {
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  background: rgba(63, 70, 77, 0.5);
  transition: background, box-shadow 125ms;
  -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125); }
  header a:link, header a:visited {
    display: inline-block;
    padding: 2.5px 10px;
    box-sizing: border-box;
    color: white;
    line-height: 45px;
    text-decoration: none; }
  header a:hover {
    color: #7ECEFD;
    text-decoration: underline; }
  header img {
    float: left; }
  header nav {
    float: right; }
  header span {
    color: white;
    font-family: "Roboto Slab", sans-serif;
    font-size: 2em;
    line-height: 50px; }
  header div.wrapper {
    padding: 25px; }

header:hover {
  background: rgba(63, 70, 77, 0.95);
  -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.25); }

div.wrapper {
  margin: auto;
  padding: 0 25px;
  max-width: 1024px;
  box-sizing: border-box; }

div.first {
  padding: 356px 0 256px;
  background: url("images/first.jpg") center fixed;
  background-size: cover; }

div.tagline h1, div.tagline h2, form.callback h1, form.callback h2 {
  color: white;
  font-family: "Roboto Slab", sans-serif; }
div.tagline h1, form.callback h1 {
  display: inline-block;
  margin-top: 0;
  font-weight: 400;
  font-size: 3em; }
div.tagline h2, form.callback h2 {
  font-weight: 400; }

div.tagline {
  float: left;
  width: 50%; }
  div.tagline h1, div.tagline h2 {
    background: rgba(63, 70, 77, 0.5); }
  div.tagline h2 {
    display: inline;
    line-height: 40px; }

form.callback {
  float: right;
  padding: 25px;
  background: white;
  border-radius: 2.5px;
  box-sizing: border-box;
  color: #3E454C;
  -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5); }
  form.callback h2 {
    margin-top: 0;
    background: none;
    color: #3E454C; }
  form.callback label {
    display: block;
    margin-bottom: 5px; }
  form.callback input {
    display: block;
    margin-bottom: 15px;
    padding: 5px;
    width: 100%;
    border: solid 2px #7ECEFD;
    border-radius: 2.5px;
    box-sizing: border-box;
    color: #3E454C;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    outline: none; }
  form.callback input:not([type="submit"]):focus {
    border: solid 2px #2185C5; }
  form.callback input[type="submit"] {
    margin-bottom: 0;
    padding: 15px;
    background: #FF7F66;
    border: 0;
    color: white;
    cursor: pointer;
    transition: background 125ms; }
  form.callback input[type="submit"]:hover {
    background: white;
    color: #FF7F66; }

div.block:not(:first-of-type) {
  position: relative;
  padding: 50px 0 75px;
  text-align: center; }
  div.block:not(:first-of-type) h2 {
    margin-top: 0;
    font-size: 2em;
    font-weight: 400; }
  div.block:not(:first-of-type) p, div.block:not(:first-of-type) span {
    display: block;
    margin: auto;
    max-width: 1024px; }
  div.block:not(:first-of-type) span {
    margin-top: 20px;
    font-style: italic; }

div.why {
  background: #FFF6E5;
  color: #3E454C; }
  div.why h3 {
    font-weight: normal; }
  div.why div.advantage-line:last-child {
    margin-bottom: 0; }
  div.why div.advantage {
    float: left;
    margin-bottom: 25px;
    width: 30%;
    margin-right: 5%; }
  div.why div.advantage:nth-of-type(3n) {
    margin-right: 0; }
  div.why div.advantage:nth-of-type(n + 3) {
    margin-bottom: 0; }
  div.why div.image {
    margin: auto;
    height: 150px;
    width: 150px;
    background: white center no-repeat;
    background-size: cover;
    border-radius: 50%;
    transition: box-shadow 125ms;
    -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.0625);
    -moz-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.0625);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.0625); }
  div.why div.image:hover {
    -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125); }

div.prices {
  background: url("images/second.jpg") center fixed;
  background-size: cover;
  color: white; }
  div.prices table {
    margin: 0 auto 50px;
    width: 100%;
    color: #3E454C;
    text-align: left;
    -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.25); }
  div.prices th {
    font-size: 1.5em;
    font-weight: normal; }
  div.prices td, div.prices th {
    padding: 20px;
    border-bottom: solid thin #ededed; }
  div.prices tr:last-child td {
    border-bottom: none; }
  div.prices tr td:nth-child(odd), div.prices tr th:nth-child(odd) {
    background: white;
    border-right: solid thin #ededed; }
  div.prices tr td:nth-child(even), div.prices tr th:nth-child(even) {
    background: #FFF6E5; }
  div.prices table:last-child {
    margin-bottom: 0; }

div.feedback {
  background: #2185C5;
  color: white; }

div.review {
  margin-bottom: 64px; }

div.review:last-of-type {
  margin-bottom: 0; }

div.gallery {
  height: 768px;
  box-sizing: border-box;
  color: white; }
  div.gallery a, div.gallery a:visited {
    color: white;
    cursor: pointer;
    transition: color 125ms; }
  div.gallery a:hover {
    color: #FFF6E5;
    text-decoration: none; }
  div.gallery button {
    position: absolute;
    z-index: 2;
    bottom: 25px;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 64px;
    line-height: 75px;
    opacity: 0.95;
    transition: box-shadow 125ms, opacity 125ms;
    -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125); }
  div.gallery button:hover {
    cursor: pointer;
    opacity: 1;
    -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.25); }
  div.gallery button:focus {
    outline: none; }
  div.gallery button.main-slider-previous {
    left: 25px;
    background: url("images/left.svg") #2185C5 center;
    background-size: cover; }
  div.gallery button.main-slider-next {
    right: 25px;
    background: url("images/right.svg") #2185C5 center; }
  div.gallery h2 {
    display: inline-block;
    background: rgba(63, 70, 77, 0.5); }
  div.gallery img {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 768px;
    width: 100%;
    opacity: 0;
    transition: opacity 500ms;
    object-fit: cover;
    object-position: top; }
  div.gallery .showing {
    opacity: 1; }
  div.gallery div.category {
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 25px;
    left: 0;
    max-width: 100%;
    text-align: center; }
  div.gallery span.category {
    display: inline-block;
    margin-top: 0;
    padding: 15px;
    background: #2185C5;
    border-radius: 31px;
    font-size: 1.5em;
    font-style: normal;
    text-align: center;
    transition: box-shadow 125ms;
    -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125); }
    div.gallery span.category a {
      line-height: 32px; }
  div.gallery span.category:hover {
    -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.25); }

div.contacts {
  background: #FF7F66;
  color: white; }
  div.contacts footer {
    margin-top: 50px;
    width: 100%; }
    div.contacts footer a:link, div.contacts footer a:visited {
      color: white; }
    div.contacts footer a:hover {
      color: #FFF6E5;
      text-decoration: none; }
    div.contacts footer span:first-child {
      float: left;
      font-style: normal;
      text-align: left; }
    div.contacts footer span:nth-child(2) {
      float: right;
      font-style: normal; }
  div.contacts h3 {
    font-weight: 400; }
  div.contacts h3:first-of-type {
    margin-top: 0; }
  div.contacts p {
    font-size: 2em;
    font-weight: 300; }

div.up {
  display: none;
  position: fixed;
  z-index: 3;
  right: 50px;
  bottom: 50px;
  height: 50px;
  width: 50px;
  background: #3E454C url("images/up.svg");
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125); }

div.up:hover {
  opacity: 0.95;
  transition: opacity 125ms; }

div.background {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer; }

div.choice {
  display: none;
  position: fixed;
  z-index: 2;
  margin: -112.5px auto 0;
  padding: 20px;
  top: 50%;
  right: 0;
  left: 0;
  width: 215px;
  background: white;
  border-radius: 2.5px;
  box-sizing: border-box;
  color: #3E454C;
  -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125); }
  div.choice ul {
    margin-bottom: 0;
    padding-left: 30px; }
  div.choice li {
    color: #3E454C;
    cursor: pointer;
    line-height: 25px;
    text-decoration: underline; }
  div.choice li:hover {
    text-decoration: none; }

div.clear {
  clear: both; }

@media (max-width: 960px) {
  header {
    position: absolute; }
    header nav {
      display: none; }

  div.first {
    padding: 228px 0 128px;
    height: auto; }

  div.up {
    right: 25px;
    bottom: 25px; } }
@media (max-width: 768px) {
  div.tagline, form.callback {
    float: none;
    margin: 0 auto;
    max-width: 512px;
    width: 100%; }

  form.callback {
    margin-top: 32px; }

  div.why div.advantage {
    width: 45%; }
  div.why div.advantage:nth-of-type(3n) {
    margin-right: 5%; }
  div.why div.advantage:nth-of-type(2n) {
    margin-right: 0; }
  div.why div.advantage:nth-of-type(n) {
    margin-bottom: 25px; }
  div.why div.advantage:nth-of-type(n + 5) {
    margin-bottom: 0; }

  div.gallery {
    height: 512px; } }
@media (max-width: 512px) {
  header span {
    font-size: 1.5em; }

  div.first {
    padding: 164px 0 64px; }
    div.first h1 {
      font-size: 2.5em; }

  div.block:not(:first-of-type) h2 {
    font-size: 1.5em; }

  div.prices th, div.prices td {
    padding: 10px; }
  div.prices th {
    font-size: 1em;
    font-weight: normal; }
  div.prices td {
    font-size: 1em; }
  div.prices table {
    font-size: 0.75em; }

  div.why div.advantage:nth-of-type(n) {
    margin-right: 0;
    margin-bottom: 25px;
    width: 100%; }
  div.why div.advantage:nth-last-of-type(2) {
    margin-bottom: 0; } }

/*# sourceMappingURL=style.css.map */
